@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html , body{
    height: 100%;
    width: 100%;
}
#page1{
    background: #EFEAE3;
    padding: 0 2vw;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navpart-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#navpart-2 h4{
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#navpart-2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#navpart-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#navpart-2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#navpart-2 h4:hover a{
    color: #fff;
}
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    margin-top: 4vw;
    position: relative;
    border-radius: 30px;
}
#hero-shape{
    position: absolute;
    width: 42vw;
    height: 32vw;
    right: 0;
    top: 65vh;
}
#hero-1{
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    /* border-top-right-radius: 20%; */
    background: #FE330A;
    filter: blur(10px);
}
#hero-2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime {
    from{
        transform: translate(55% , -3%);
    }
    to{
        transform: translate(0% , 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5% , -5%);
    }
    to{
        transform: translate(-20% , 30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
}
/* #moving-text{
    display: inline-block;
} */
.con{

}
#moving-text h1{
 font-size: 9vw;
 background: lightblue;
 display: inline-block;
}
.circle{
    width: 70px ;
    height: 70px;
    background: #FE330A;
    border-radius: 50%;
}