@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    /* background: black; */
    z-index: 10;
    position: relative;
}
#page1{
    background: #EFEAE3;
    padding: 0 2vw;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}
nav h3{
    display: none;
}
#navpart-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#navpart-2 h4{
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#navpart-2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#navpart-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#navpart-2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#navpart-2 h4:hover a{
    color: #fff;
}
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    margin-top: 4vw;
    position: relative;
    border-radius: 30px;
}
#hero-shape{
    position: absolute;
    width: 42vw;
    height: 32vw;
    right: 0;
    top: 65vh;
}
#hero-1{
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background: #FE330A;
    filter: blur(10px);
}
#hero-2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime {
    from{
        transform: translate(55% , -3%);
    }
    to{
        transform: translate(0% , 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5% , -5%);
    }
    to{
        transform: translate(-20% , 30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
white-space: nowrap;
display: inline-block;
animation-name: move;
animation-duration: 11s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
#moving-text h1{
 font-size: 9vw;
 display: inline-block;
}
.circle{
    width: 70px ;
    height: 70px;
    background: #FE330A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2-bottom{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 58%;
    line-height: 4vw;
}
#bottompart-2{
    width: 20%;
    margin-top: 18vw;
}
#bottompart-2 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2vw;
}

#page2 #gooey{
    width: 32vw;
    height: 32vw;
    background: linear-gradient(to top right ,#fe0a0a , #ff8d0b);
    /* background: linear-gradient(to top right , red , blue); */
    position: absolute;
    border-radius: 50%;
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10% ,-10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}
#page3{
    width: 100%;
    min-height: 100vh;
    background: #EFEAE3;
    padding: 3vw 0;
}
.elem{
    height: 140px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    display: flex  ;
    overflow: hidden;
   align-items: center;
   padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
    font-weight: 800;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
 top: 0;
}
#fixed-image{
    height: 30vw;
    width: 24vw;
   background: white;
   border-radius: 10px;
   position: fixed;
   z-index: 99;
   left: 50%;
   display: none;
   top: 25%;
   background-image: cover;
   background-position: center;
}
/* page4 start */
#page4{
    width: 100%;
    min-height: 100vh;
    background: #EFEAE3;
    padding: 1vw 2vw;
}
#buttonproject{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#buttonproject h4{
    padding: 8px 16px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#buttonproject h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#buttonproject h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#buttonproject h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#buttonproject h4:hover a{
    color: #fff;
}
#sect-container{
    height: 100%;
    width: 100%;
    margin-top: 8vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
#lefts{
    height: 100vh;
    width: 45%;
    float: left;
    background: black;
    color: white;
    padding: 10vw 10vw;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#lefts h1{
    font-size: 5vw;
    cursor: pointer;
}
#lefts .changeColor{
    color: #504A45;
}
#lefts p{
    padding: 2vw 2vw 0vw 0vw;
}
#rights{
    height: 100vh;
    width: 55%;
    float: right;
    /* background: black; */
    /* background: white; */
}
#rights img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border: 1px solid #EFEAE3; */
}
#page5{
    height: 70vh;
    width: 100%;
    padding: 8vw 2vw;
    background: #EFEAE3;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 16px;
    padding: 0 2vw;
    border-left: 1px solid #aeadad;
    width: 23%;
  }
  .swiper-slide .imgWidth{
    width: 10vw;
  }
  .swiper-slide  .totp{
    padding-top: 1vw;
  }
  .swiper-slide .hunter{
    padding-top: 0.4vw;
  }
#page6{
    height: 100vh;
    width: 100%;
    /* background: #EFEAE3; */
}
#footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background: #000;
    color: white;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    justify-content: flex-end;
    /* padding: 0vw 3vw; */
}
#footer #footer-sundown {
    font-size: 23vw;
    align-items: center;
    padding-left: 2vw;
}
#footer-div{
    height: 35vh;
    width: 100%;
    /* background: red; */
    background: #FE330A;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    padding: 3vw 6vw 0vw 6vw;
}
/* #footer-div #hover{
    cursor: pointer;
}
#footer-div #hover:hover{
    color: #F3B4A2;
} */
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2vw;
    width: 100%;
    /* padding: 0vw 3vw; */
}
#hover a{
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
}
#hover a:hover{
    color: #F3B4A2;
}
#footer-bottom a{
    text-decoration :double;
    color: white;
}
#full-scr{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    background: #00000070;
    top: -100%;
    transition: all ease 0.5s;
}
#fulldiv-1{
    height: 50%;
    width: 100%;
    background: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#loader{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.7s;
}
#loader h1{
    font-size: 4vw;
  color: white;
  background: linear-gradient(to right,orange ,orangered);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2){
   /* opacity: 1; */
   animation-delay: 2s;
}
#loader h1:nth-child(3){
    /* opacity: 1; */
    animation-delay: 3s;
 }
@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Media query Start */

@media (max-width:600px) {
    /* #page1{
        background: red;
    } */
    #page1{
        padding: 0 0vw;
        min-height: 100vh;
        width: 100vw;
    }
    nav{
        padding: 8vw 5vw;
        background: #EFEAE3;
    }
    nav img{
        height: 9vh;
        transition: all ease 0.2s;
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        padding-left: 10vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
    }
    #navpart-2{
        display: none;
    }
    #center{
        height: 62vh;
        width: 100%;
        display: flex;
        /* background: orange; */
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    #left h3{
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }
    #right h1{
        font-size: 17vw;
        line-height: 15vw;
        text-align: right;
    }
    #page1 video{
        width: 92%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        margin-top: 4vw;
        margin-left: 4%;
        position: relative;
        border-radius: 15px;
    }
    #hero-shape{
        position: absolute;
        width: 82vw;
        height: 76vw;
        right: 0;
        top: 65vh;
    }
    #hero-1{
        height: 100%;
        width: 100%;
        position: absolute;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        background: #FE330A;
        filter: blur(10px);
    }
    #hero-2{
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(#FE330A , #fe570a);
        filter: blur(25px);
        animation-name:  anime2;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    #hero-3{
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(#FE330A , #fe570a);
        filter: blur(25px);
        animation-name:  anime;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        background: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }
    #moving-text{
        white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    .con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    #moving-text h1{
     font-size: 15vw;
     display: inline-block;
    }
    .circle{
        width: 25px ;
        height: 25px;
        background: #FE330A;
        /* padding-top: 2vw; */
        /* justify-content: center; */
        border-radius: 50%;
        display: inline-block;
        margin: 2vw 2vw;
    }
    #page2-bottom{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10vw 4vw;
        position: relative;
        z-index: 9;
    }
    #page2-bottom h1{
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }
    #bottompart-2{
        width: 70%;
        margin-right: 28vw;
        /* margin-top: 8vw; */
    }
    #bottompart-2 img{
        width: 100%;
        border-radius: 8px;
        /* margin-bottom: 2vw; */
    } 
    #page2 #gooey{
        width: 62vw;
        height: 62vw;
        background: linear-gradient(to top right ,#fe0a0a , #ff8d0b);
        /* background: linear-gradient(to top right , red , blue); */
        position: absolute;
        border-radius: 50%;
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}