@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    /* background: black; */
    z-index: 10;
    position: relative;
}
#page1{
    background: #EFEAE3;
    padding: 0 2vw;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navpart-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#navpart-2 h4{
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#navpart-2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#navpart-2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#navpart-2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#navpart-2 h4:hover a{
    color: #fff;
}
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    margin-top: 4vw;
    position: relative;
    border-radius: 30px;
}
#hero-shape{
    position: absolute;
    width: 42vw;
    height: 32vw;
    right: 0;
    top: 65vh;
}
#hero-1{
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background: #FE330A;
    filter: blur(10px);
}
#hero-2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#FE330A , #fe570a);
    filter: blur(25px);
    animation-name:  anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime {
    from{
        transform: translate(55% , -3%);
    }
    to{
        transform: translate(0% , 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5% , -5%);
    }
    to{
        transform: translate(-20% , 30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
white-space: nowrap;
display: inline-block;
animation-name: move;
animation-duration: 11s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
#moving-text h1{
 font-size: 9vw;
 display: inline-block;
}
.circle{
    width: 70px ;
    height: 70px;
    background: #FE330A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2-bottom{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 58%;
    line-height: 4vw;
}
#bottompart-2{
    width: 20%;
    margin-top: 18vw;
}
#bottompart-2 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2vw;
}

#page2 #gooey{
    width: 32vw;
    height: 32vw;
    background: linear-gradient(to top right ,#fe0a0a , #ff8d0b);
    /* background: linear-gradient(to top right , red , blue); */
    position: absolute;
    border-radius: 50%;
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10% ,-10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}
#page3{
    width: 100%;
    min-height: 100vh;
    background: #EFEAE3;
    padding: 3vw 0;
}
.elem{
    height: 140px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    display: flex  ;
    overflow: hidden;
   align-items: center;
   padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
    font-weight: 800;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
 top: 0;
}
#fixed-image{
    height: 30vw;
    width: 24vw;
   background: white;
   border-radius: 10px;
   position: fixed;
   z-index: 99;
   left: 50%;
   display: none;
   top: 25%;
   background-image: cover;
   background-position: center;
}
/* page4 start */
#page4{
    width: 100%;
    min-height: 100vh;
    background: #EFEAE3;
    padding: 1vw 2vw;
}
#buttonproject{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#buttonproject h4{
    padding: 8px 16px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#buttonproject h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#buttonproject h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#buttonproject h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#buttonproject h4:hover a{
    color: #fff;
}
#sect-container{
    height: 100%;
    width: 100%;
    margin-top: 8vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
#lefts{
    height: 100vh;
    width: 45%;
    float: left;
    background: black;
    color: white;
    padding: 10vw 10vw;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#lefts h1{
    font-size: 5vw;
    cursor: pointer;
}
#lefts .changeColor{
    color: #504A45;
}
#lefts p{
    padding: 2vw 2vw 0vw 0vw;
}
#rights{
    height: 100vh;
    width: 55%;
    float: right;
    /* background: black; */
    /* background: white; */
}
#rights img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border: 1px solid #EFEAE3; */
}
#page5{
    height: 60vh;
    width: 100%;
    background: #EFEAE3;
}
#page6{
    height: 100vh;
    width: 100%;
    /* background: #EFEAE3; */
}
#footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background: #000;
    color: white;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    justify-content: flex-end;
    /* padding: 0vw 3vw; */
}
#footer #footer-sundown {
    font-size: 23vw;
    align-items: center;
    padding-left: 2vw;
}
#footer-div{
    height: 35vh;
    width: 100%;
    /* background: red; */
    background: #FE330A;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    padding: 3vw 6vw 0vw 6vw;
}
/* #footer-div #hover{
    cursor: pointer;
}
#footer-div #hover:hover{
    color: #F3B4A2;
} */
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2vw;
    width: 100%;
    /* padding: 0vw 3vw; */
}